# API Gateway
PORT=8080
USER_SERVICE_ADDR=user-server:50051
ORDER_SERVICE_ADDR=order-server:50052
TRACKING_SERVICE_ADDR=tracking-server:50053

# User Service
USER_SERVICE_PORT=50051
DATABASE_URL=postgres://devuser:devpassword@postgres-db:5432/assignment_db?sslmode=disable

# Order Service
ORDER_SERVICE_PORT=50052
# USER_SERVICE_ADDR=user-server:50051
# DATABASE_URL=postgres://devuser:devpassword@postgres-db:5432/assignment_db?sslmode=disable

# Tracking Service
TRACKING_SERVICE_PORT=50053
# ORDER_SERVICE_ADDR=order-server:50052
# DATABASE_URL=postgres://devuser:devpassword@postgres-db:5432/assignment_db?sslmode=disable
